<div class="navbar navbar-fixed-top">
	<div class=navbar-inner>
		<div class=container>
			<a class=brand href="/">CoderDojo Malmö</a>
			<ul class=nav>
				<li class=dropdown>
					<a href=# class=dropdown-toggle data-toggle=dropdown>Sidor <b class=caret></b></a>
					<ul class=dropdown-menu>
						<li><a href="/how-it-works.html">Så funkar det</a></li>
						<li><a href="/web_more.html">Webb</a></li>
						<li><a href="/scratch.html">Scratch</a></li>
						<li><a href="/haxe.html">Haxe</a></li>
						<li><a href="/haxespel.html">HaxeSpel</a></li>
						<li><a href="/processing.html">Processing</a></li>
						<li><a href="/help-us-mentor-or-teach.html">Hjälp CoderDojo</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
